---
import SectionContainer from "../SectionContainer.astro";

import PythonIcon from "./stack_icons/PythonIcon.astro";
import RIcon from "./stack_icons/RIcon.astro";
import BashIcon from "./stack_icons/BashIcon.astro";
import RustIcon from "./stack_icons/RustIcon.astro";
import NextflowIcon from "./stack_icons/NextflowIcon.astro";
import GodotIcon from "./stack_icons/GodotIcon.astro";
import GitIcon from "./stack_icons/GitIcon.astro";
import AstroIcon from "./stack_icons/AstroIcon.astro";
import TailwindIcon from "./stack_icons/TailwindIcon.astro";
import SQLiteIcon from "./stack_icons/SQLiteIcon.astro";
---


<SectionContainer title="Stack tecnológico">
    <div class="grid grid-cols-5 p-3 md:p-4 lg:p-6 gap-4 md:gap-6 lg:gap-8 border-2 rounded-lg bg-background2-light/50 dark:bg-background2-dark/50 border-foreground-light/20 dark:border-foreground-dark/20">
        <PythonIcon />
        <RIcon />
        <BashIcon />
        <RustIcon />
        <NextflowIcon />
        <GodotIcon />
        <GitIcon />
        <AstroIcon />
        <TailwindIcon />
        <SQLiteIcon />
    </div>
</SectionContainer>