---
import CvIcon from "../icons/CvIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
---

<article class="flex flex-col content-evenly items-center">
    <p class="text-sm md:text-lg lg:text-2xl ml-[5%] md:ml-[10%] lg:ml-[20%] 2xl:ml-[40%] text-pretty text-right text-foreground-light dark:text-foreground-dark">Licenciado en Bioinformática y apasionado por la tecnología.<br>Llevo programando desde hace más de 5 años, tiempo en el que he desarrollado proyectos académicos y personales. Me especializo en el desarrollo de software y herramientas bioinformáticas, con un fuerte enfoque en buenas prácticas y arquitectura de código.</p>
    
    <div class="flex flex-row justify-evenly items-center mt-2 w-full pl-[25%] md:pl-[30%] lg:pl-[35%]">
        <GithubIcon />
        <LinkedinIcon />
        <CvIcon />
        <EmailIcon />
    </div>
</article>
