---
import CvIcon from "../icons/CvIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
---

<article class="flex flex-col content-evenly items-center">
    <p class="text-pretty text-2xl dark:text-secondary-dark w-3xl text-justify">Licenciado en Bioinformática y apasionado por la tecnología. Llevo programando desde hace más de 5 años, tiempo en el que he desarrollado proyectos académicos y personales. Me especializo en el desarrollo de software y herramientas bioinformáticas, con un fuerte enfoque en buenas prácticas y arquitectura de código.</p>
    
    <div class="flex flex-row justify-evenly items-center mt-2 w-full">
        <GithubIcon />
        <LinkedinIcon />
        <CvIcon />
        <EmailIcon />
    </div>
</article>
