---
import ProfileSummary from "./ProfileSummary.astro";
---


<section class="flex flex-col gap-5">
    <!-- Nombre y títulos -->
    <header class="place-self-start flex flex-col items-start">
        <h1 class="text-7xl font-bold text-foreground-light dark:text-foreground-dark">Hola!<br>Soy Pablo Vidal Vaquero</h1>
        <p class="font-[JetBrains_Mono] text-4xl text-highlight-light dark:text-highlight-dark">Bioinformático</p>
    </header>

    <span class="place-self-end">
        <ProfileSummary />
    </span>

</section>
