---
import ProfileSummary from "./ProfileSummary.astro";
---


<section class="flex flex-col gap-5">
    <!-- Nombre y títulos -->
     <header class="place-self-start flex flex-col items-start">
        <h1 class="text-7xl dark:text-secondary-dark font-bold">Pablo Vidal Vaquero</h1>
        <p class="text-4xl dark:text-green-300 hover:animate-tada">Bioinformático</p>
    </header>

    <span class="place-self-end">
        <ProfileSummary />
    </span>

</section>
