@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@plugin "@midudev/tailwind-animations";


/* Light mode */
@theme {
    --color-*: initial;

    --color-background-dark: #0e100f;
    --color-background-light: #ffffff;

    --color-foreground-dark: #e6eefa;
    --color-foreground-light: #1e1e1e;

    --color-highlight-dark: #0bff60;
    --color-highlight-light: #08cc4c;

}

* {
    @apply transition-colors duration-200;
}

.hover-effect {
    @apply hover:scale-115 hover:drop-shadow-md hover:drop-shadow-foreground-light/70 hover:dark:drop-shadow-foreground-dark/70 transition-all duration-[350ms] transform-gpu;
}

.section-title {
    @apply text-foreground-light dark:text-foreground-dark text-5xl;
}


html {
    font-family: "Geist", system-ui, sans-serif;
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    font-weight: 300;
}