---
import SectionContainer from "../SectionContainer.astro";
import ExperienceItem from "./ExperienceItem.astro";    
---


<SectionContainer title="Experiencia">
    <div class="flex flex-row gap-6 mx-40">
        <!-- Experience items -->
        <div id="experience-container" class="flex flex-col gap-6 items-center flex-3">
            <ExperienceItem
                title="Bioinformático - BIV UGent"
                start_date="Abril 2025"
                end_date="Junio 2025"
                location="Gante, Bélgica"
            >
                <p class="text-xl text-pretty text-foreground-light dark:text-foreground-dark">Trabajé como bioinformático para un equipo de investigación dedicado al estudio de datos transcriptómicos. Desarrollé una pipeline modular y escalable para el preprocesado, ensamblaje y cuantificación de datos transcriptómicos obtenidos mediante Long-read RNA-seq utilizando <strong>Nextflow.</strong></p>
            </ExperienceItem>
        </div>
    </div>
</SectionContainer>
