---
interface Props {
    url: string;
}

const { url } = Astro.props;
---

<a class="stroke-foreground-light dark:stroke-foreground-dark size-[50px] hover-effect" href={url} target="_blank" rel="noopener noreferrer">
    <slot />
</a>
