---
interface Props {
    url: string;
}

const { url } = Astro.props;
---

<a class="size-8 md:size-12 lg:size-15 stroke-foreground-light dark:stroke-foreground-dark hover-effect" href={url} target="_blank" rel="noopener noreferrer">
    <slot />
</a>
