---
import "../styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="fixed inset-0 -z-1 h-full w-full items-center px-5 py-24 [background:radial-gradient(180%_200%_at_90%_-18%,#f2f2f2_45%,#54f782_180%)] dark:[background:radial-gradient(180%_200%_at_90%_-18%,#000_45%,#54f782_180%)]"></div>
        <main class="my-25 mx-30">
            <!-- <Header /> -->
            <slot />
        </main>
    </body>
</html>